<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.cartmapper">


    <insert id="insert">
        insert into t_cart  values
                (null ,#{uid}, #{pid}, #{price}, #{num}, #{createdUser},
                #{createdTime}, #{modifiedUser}, #{modifiedTime})

    </insert>
    <update id="updatenumbycid">

        update t_cart set
                          num=#{num},
                          modified_user=#{modifiedUser},
                          modified_time=#{modifiedTime}
        where cid=#{cid}
    </update>


    <select id="findById" resultType="com.cy.store.entity.Cart">

        select * from t_cart where uid=#{uid} AND pid=#{pid}

    </select>
    <select id="findbyuid" resultType="com.cy.store.vo.CartVO">

        select
            cid,
            uid,
            pid,
            t_cart.price,
            t_cart.num,
            title,
            t_product.price as realPrice,
            image
        from t_cart
                 left join t_product on t_cart.pid = t_product.id
        where
            uid = #{uid}
        order by
            t_cart.created_time desc

    </select>
</mapper>

